<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Numans');

            html, body {
                background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                height: 100%;
                font-family: 'Numans', sans-serif;
            }

            .error{
                color: red;
                margin-bottom: 10px;
                text-align: center;
                float: right;
            }
            .container {
                height: 100%;
                align-content: center;
            }

            .card {
                height: 370px;
                margin-top: auto;
                margin-bottom: auto;
                width: 400px;
                background-color: rgba(0, 0, 0, 0.5) !important;
            }

            .card-header h3 {
                color: white;
                text-align: center;
            }

            .input-group-prepend span {
                width: 50px;
                background-color: #007bff;
                color: white;
                border: 0 !important;
            }

            .links {
                color: white;
            }

            .links a {
                margin-left: 4px;
            }
        </style>
    {% endblock %}
</head>
<body>
{% trans_default_domain 'rd_authentication' %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
</body>
</html>
