{% extends '@RdAuthentication/mail/mail_template.html.twig' %}
{% block body %}
    <h4>Hello,</h4>
    <p>To reset your password please visit link bellow.</p>
    <p><a href="https://yourpage.net/create-password/{{ user.getConfirmHash() }}">Confirmation link</a></p>
{% endblock %}